html, body, #qa, #content {
    margin:0 !important;
}
/* Styling for desktop devices */
body {
    height: 100vh;
    width: 100vw;
    /* removes wierd overflow issues on different devices */
    overflow: hidden
}


#qa, #content {
    height:100%;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

/* Styling for android devices */
.mobile iframe {
    height: 99vh;
}



/* Styling for iPad and iPhone devices */
.iphone iframe, .ipad iframe {
    height: 77vh;
}

