@use '$scss/globals' as *;

cg-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit;

  .cg-shapes,
  .cg-custom-svgs {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .cg-shapes {
    opacity: 1 !important;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
  }

  .cg-custom-svgs {
    /* over piece.anim = 8, but under piece.dragging = 10 */
    z-index: 9;
  }

  coords {
    font-weight: bold;
    opacity: 1 !important;

    coord {
      display: flex;
      transform: none !important; /* Kills the default translateY(39%) */
      padding: 1px 4px;
    }

    &.ranks {
      left: auto !important; /* Overrides default left: 4px */
      right: 0 !important;
      top: 0 !important;     /* Overrides default top: -20px */
      width: 12.5% !important; /* Overrides default 12px */

      coord {
        align-items: flex-start; /* Top */
        justify-content: flex-end; /* Right */
      }
    }

    &.files {
      left: 0 !important;    /* Overrides default left: 24px */
      bottom: 0 !important;  /* Overrides default bottom: -4px */
      height: 12.5% !important; /* Overrides default 16px */

      coord {
        align-items: flex-end; /* Bottom */
        justify-content: flex-start; /* Left */
      }
    }
  }

  cg-board {
    background-color: var(--board-light);
    background-image: conic-gradient(
      var(--board-dark) 90deg,
      transparent 90deg 180deg,
      var(--board-dark) 180deg 270deg,
      transparent 270deg
    );
    background-size: 25% 25%;

    border: 0;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 0;
    border-radius: inherit;
    cursor: inherit !important;

    square {

      &.move-dest {
        background: radial-gradient(
          rgba(20, 85, 30, 0.5) 22%,
          #208530 0,
          rgba(0, 0, 0, 0.3) 0,
          rgba(0, 0, 0, 0) 0
        );
        pointer-events: auto;
      }

      &.premove-dest {
        background: radial-gradient(
          rgba(20, 30, 85, 0.5) 22%,
          #203085 0,
          rgba(0, 0, 0, 0.3) 0,
          rgba(0, 0, 0, 0) 0
        );
      }

      &.oc.move-dest {
        background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
      }

      &.oc.premove-dest {
        background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
      }

      &.move-dest:hover {
        background: rgba(20, 85, 30, 0.3);
      }

      &.premove-dest:hover {
        background: rgba(20, 30, 85, 0.2);
      }

      &.last-move {
        will-change: transform;
        background-color: rgba(155, 199, 0, 0.41);
      }

      &.wrong-move {
        background-color: rgba(255, 0, 0, 0.41); // A translucent red
      }

      &.selected {
        background-color: rgba(20, 85, 30, 0.5);
      }

      &.check {
        background: radial-gradient(
          ellipse at center,
          rgba(255, 0, 0, 1) 0%,
          rgba(231, 0, 0, 1) 25%,
          rgba(169, 0, 0, 0) 89%,
          rgba(158, 0, 0, 0) 100%
        );
      }

      &.current-premove {
        background-color: rgba(20, 30, 85, 0.5);
      }
    }

    &:has(.dragging) {
      cursor: grabbing !important;
    }

    piece {
      position: absolute;
      /* Load the single sprite */
      background-image: var(--theme-sprite);
      background-size: 600% 200% !important; /* 6 columns, 2 rows */
      width: 12.5%;
      height: 12.5%;
      z-index: 2;
      will-change: transform;
      pointer-events: auto !important;
      cursor: grab;

      &.white {
        background-position-y: 0%;
      }
      &.black {
        background-position-y: 100%;
      }

      &.dragging {
        // Crucial: When dragging, we must disable pointer events on the piece.
        // If we don't, the piece blocks the mouse from seeing the square underneath,
        // breaking the "move-dest" highlighting.
        pointer-events: none !important;
        z-index: 10;
      }

      &.anim {
        z-index: 8;
      }

      &.fading {
        z-index: 1;
        opacity: 0.5;
      }

      /* Map the columns (K, Q, R, B, N, P) */
      &.king   { background-position-x: 0%; }
      &.queen  { background-position-x: 20%; }
      &.rook   { background-position-x: 40%; }
      &.bishop { background-position-x: 60%; }
      &.knight { background-position-x: 80%; }
      &.pawn   { background-position-x: 100%; }
    }
  }

  piece {
    &.ghost {
      opacity: 0.3;
    }
  }
}

/** Alternating colors in rank/file/square labels */
.orientation-white .ranks :nth-child(odd),
.orientation-white .files :nth-child(even),
.orientation-black .ranks :nth-child(even),
.orientation-black .files :nth-child(odd),
coords.squares:nth-of-type(odd) :nth-child(even),
coords.squares:nth-of-type(even) :nth-child(odd) {
  color: var(--board-dark);
}

.orientation-white .ranks :nth-child(even),
.orientation-white .files :nth-child(odd),
.orientation-black .ranks :nth-child(odd),
.orientation-black .files :nth-child(even),
coords.squares:nth-of-type(odd) :nth-child(odd),
coords.squares:nth-of-type(even) :nth-child(even) {

  color: var(--board-light);
}
