@use "../variables" as *;
@use "../mixins" as *;

#pgnComment {
  .move-number {
    height: 1.5em;
    padding-left: 0.2em;
    background-color: $color-bg-primary;
    border-right: $border-main-thin;
    text-align: center;
  }

  .move,
  .nullMove {
    height: 1.5em;
    background-color: $color-bg-primary;
    text-align: center;
  }

  .move {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    &:hover,
    &.current {
      background: $color-bg-hover;
    }

    &:hover {
      background: $color-bg-hover;
      border: 1px solid $color-bg-primary;

      .nagTooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    &.current {
      border: $border-main-thin;
    }
  }

  .nullMove {
    color: $color-text-muted;
    cursor: default;
  }

  .comment {
    font-size: 0.8em;
    color: $color-text-primary;
    padding: 0.3em;
    background: $color-bg-hover;
  }

  .altLine {
    background: $color-bg-hover;
    color: white;
    font-size: 0.8em;
    padding: 0.3em;

    span {
      display: inline-flex;
      background-color: inherit;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      &.altLineBracket {
        color: $color-bg-primary;
        font-weight: 700;
        padding: 0.2em;
      }

      &.move:hover,
      &.move.current {
        background: $color-bg-primary;
      }

      &.move-number {
        font-weight: 700;
        justify-content: flex-start;
        border-right: 0px;
      }

      &.comment {
        font-size: 0.9em;
        display: inline-flex;
      }
    }
  }

  .altLine,
  .comment {
    grid-column: 1 / -1;
    font-style: italic;
    border: $border-main-thin;
  }

  .nagTooltip {
    position: fixed;
    /*     transform: translate(-50%, -104%); */
    font-size: 0.8em;
    font-style: italic;
    white-space: nowrap;
    z-index: 100;
    /* Basic styling for the tooltip */
    background: #282828;
    box-shadow: 0px 0px 2px 0px black;
    padding: 0.2em;
    border-radius: $border-radius-main;
    border: $border-main-thin;
    /* Hide the tooltip by default */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
