@use 'variables' as *;
@use './base';

@keyframes timeFlash {
    0% {
        box-shadow: 0 0 12px 6px var(--timer-flash-color);
    }
    100% {
        box-shadow: $shadow-board;
    }
}

.cg-shapes {
    opacity: 1 !important;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
}

/*  .cg-wrap might be nedded here? */
.cg-wrap {
    width: $board-size;
    height: $board-size;
    box-shadow: $shadow-board;
    border: $board-border-width solid var(--border-color);
    border-radius: $border-radius-main;
    width: $board-size;
    height: $board-size;
    position: relative;
    margin: 0 auto;
    display: block;

    &.time-added-flash {
        animation: timeFlash 0.5s ease-out;
    }

    &.analysisMode {
        border: $board-border-width solid transparent;
        box-shadow: $shadow-board;
        background-repeat: no-repeat;
        background-image:
        linear-gradient(var(--content-bg, white), var(--content-bg, white)),
        linear-gradient(
            to bottom,
            var(--opponent-color) 0%,
            var(--opponent-color) calc(var(--centipawn) - 1px),
            red calc(var(--centipawn) - 1px),
            red calc(var(--centipawn) + 1px),
            var(--player-color) calc(var(--centipawn) + 1px),
            var(--player-color) 100%
        );
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
    }

    &.timerMode {
        border: $board-border-width solid transparent;
        box-shadow: $shadow-board;
        background-repeat: no-repeat;
        background-image:
        linear-gradient(var(--content-bg, white), var(--content-bg, white)),
        linear-gradient(
            to bottom,
            var(--timer-color) 0%,
            var(--timer-color) calc(var(--remainingTime) - 1px),
            red calc(var(--remainingTime) - 1px),
            red calc(var(--remainingTime) + 1px),
            var(--player-color) calc(var(--remainingTime) + 1px),
            var(--player-color) 100%
        );
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
    }

    .cg-shapes, .cg-custom-svgs {
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .cg-shapes {
        opacity: 0.6;
        z-index: 2;
    }

    .cg-custom-svgs {
        /* over piece.anim = 8, but under piece.dragging = 10 */
        z-index: 9;
    }

    coords {
        font-family: $font-family-comments;
        position: absolute;
        display: flex;
        pointer-events: none;
        opacity: 0.8;
        font-size: 12px;
        font-weight: bold;

        coord {
            flex: 1 1 auto;
        }

        &.ranks {
            /* shift vert coors to the right */
            margin-left: auto;
            right: 0.1%;
            top: -4.7%;
            flex-flow: column-reverse;
            height: 100%;
            width: 10px;
        }

        &.ranks.black {
            flex-flow: column;
        }

        &.files {
            bottom: 0.6em;
            left: 1.2%;
            flex-flow: row;
            width: 100%;
            height: 10px;
            text-transform: uppercase;
            text-align: left;
        }

        &.files.black {
            flex-flow: row-reverse;
        }

        &.files:nth-child(even) coord:nth-child(even),
        &.ranks:nth-child(odd) coord:nth-child(odd) {
            color: rgba(255, 255, 255, 0.8);
        }

        &.files:nth-child(even) coord:nth-child(odd),
        &.ranks:nth-child(odd) coord:nth-child(even) {
            color: rgba(72, 72, 72, 0.8);
        }
    }

    piece {
        position: absolute;
        top: 0;
        left: 0;
        width: 12.5%;
        height: 12.5%;
        background-size: cover;
        z-index: 2;
        will-change: transform;
        pointer-events: none;

        &.ghost {
            opacity: 0.3;
        }

        &.dragging {
            cursor: move;
            z-index: 10;
        }

        &.anim {
            z-index: 8;
        }

        &.fading {
            z-index: 1;
            opacity: 0.5;
        }

        &.white {
            &.pawn {
                background-image: url('../../media/_wP.svg');
            }
            &.bishop {
                background-image: url('../../media/_wB.svg');
            }
            &.knight {
                background-image: url('../../media/_wN.svg');
            }
            &.rook {
                background-image: url('../../media/_wR.svg');
            }
            &.queen {
                background-image: url('../../media/_wQ.svg');
            }
            &.king {
                background-image: url('../../media/_wK.svg');
            }
        }

        &.black {
            &.pawn {
                background-image: url('../../media/_bP.svg');
            }
            &.bishop {
                background-image: url('../../media/_bB.svg');
            }
            &.knight {
                background-image: url('../../media/_bN.svg');
            }
            &.rook {
                background-image: url('../../media/_bR.svg');
            }
            &.queen {
                background-image: url('../../media/_bQ.svg');
            }
            &.king {
                background-image: url('../../media/_bK.svg');
            }
        }
    }
}

cg-container {
    width: $board-size !important;
    height: $board-size !important;
}

cg-board {
    background-color: #f0d9b5;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4PSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogICAgIHZpZXdCb3g9IjAgMCA4IDgiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxnIGlkPSJhIj4KICA8ZyBpZD0iYiI+CiAgICA8ZyBpZD0iYyI+CiAgICAgIDxnIGlkPSJkIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjZjBkOWI1IiBpZD0iZSIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iMSIgaHJlZj0iI2UiIHg6aHJlZj0iI2UiLz4KICAgICAgICA8cmVjdCB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjYjU4ODYzIiBpZD0iZiIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iLTEiIGhyZWY9IiNmIiB4OmhyZWY9IiNmIi8+CiAgICAgIDwvZz4KICAgICAgPHVzZSB4PSIyIiBocmVmPSIjZCIgeDpocmVmPSIjZCIvPgogICAgPC9nPgogICAgPHVzZSB4PSI0IiBocmVmPSIjYyIgeDpocmVmPSIjYyIvPgogIDwvZz4KICA8dXNlIHk9IjIiIGhyZWY9IiNiIiB4OmhyZWY9IiNiIi8+CjwvZz4KPHVzZSB5PSI0IiBocmVmPSIjYSIgeDpocmVmPSIjYSIvPgo8L3N2Zz4K');
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 0;
    background-size: cover;

    square {
        position: absolute;
        top: 0;
        left: 0;
        width: 12.5%;
        height: 12.5%;
        pointer-events: none;


        &.move-dest {
            background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
            pointer-events: auto;
        }

        &.premove-dest {
            background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
        }

        &.oc.move-dest {
            background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
        }

        &.oc.premove-dest {
            background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
        }

        &.move-dest:hover {
            background: rgba(20, 85, 30, 0.3);
        }

        &.premove-dest:hover {
            background: rgba(20, 30, 85, 0.2);
        }

        &.last-move {
            will-change: transform;
            background-color: rgba(155, 199, 0, 0.41);
        }

        &.selected {
            background-color: rgba(20, 85, 30, 0.5);
        }

        &.check {
            background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
        }

        &.current-premove {
            background-color: rgba(20, 30, 85, 0.5);
        }
    }
}
