/* PRIMITIVES */

/* raw palette */
$palette-gray-900: #242424;
$palette-gray-800: #2c2c2c;
$palette-gray-84: #d6d6d6;
$palette-gray-25: #404040;

$palette-green-500: #557d38;
$palette-moss-green: #a5d6a7;

/* CG Board palette */
$palette-correct: #2aa146;
$palette-incorrect: #d64c4c;
$palette-perfect: #df4096;

/* sizing */
$board-border-width: 8px;
$board-border: $board-border-width solid grey;
$board-size-calc: min(
  max(calc(100dvh - calc($board-border-width * 2)), 300px),
  max(calc(100dvw - calc($board-border-width * 2)), 200px),
  600px
);
$board-square-calc: calc($board-size-calc * 0.125);

$button-size-calc: min(45px, $board-square-calc);
$button-margin-calc: calc($board-square-calc * 0.04);

/* shadows */
$shadow-main: 0px 0px 3px 0px black;
$shadow-strong: 0px 0px 3px 1px black;
$shadow-grey: 0px 0px 3px 0px grey;

/* borders */
$border-thin: 1px solid black;
$border-radius-global: 4px;

/* SEMANTIC VARIABLES */
:root {
  /* shadows */
  --shadow-main: #{$shadow-main};
  --shadow-strong: #{$shadow-strong};

  /* shadows */
  --border-thin: #{$border-thin};
  --border-radius-global: #{$border-radius-global};

  /* Surfaces */
  --surface-primary: #{$palette-gray-900};
  --surface-secondary: #{$palette-gray-800};
  --surface-interactive-hover: #{$palette-gray-84};
  --surface-hover: #{$palette-gray-25};

  /* Text */
  --text-primary: #d7dee9;
  --text-muted: #797979;

  /* Interaction  Game State */
  --interactive-button-active: #{$palette-moss-green};
  --interactive-button-hover: #{$palette-green-500};
  --status-error: #{$palette-incorrect};
  --status-correct: #{$palette-correct};
  --status-perfect: #{$palette-perfect};

  /* Board Specifics */
  --board-border: #{$board-border};
  --board-size: #{$board-size-calc};
}

/* THEMES */
body.light-theme {
}

@mixin unselectable {
  -webkit-user-select: none; /* Safari, Chrome, Opera, iOS Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justify-space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin board-square-size {
  height: $board-square-calc;
  width: $board-square-calc;
}

@mixin subtle-shadow($opacity: 0.5, $inset: '') {
  box-shadow: #{$inset} 0 1px 3px rgba(0, 0, 0, $opacity);
}

@mixin border-shadow($color: black, $inset: '') {
  box-shadow: #{$inset} 0px 0px 3px 1px $color;
}

@mixin y-margin($val) {
  margin-top: $val;
  margin-bottom: $val;
}

@mixin x-margin($val) {
  margin-left: $val;
  margin-right: $val;
}

@mixin icon-btn($size: $button-size-calc) {
  /* remove default button styling */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  @include flex-center;
  z-index: 20;
  flex-direction: row;
  border-radius: var(--border-radius-global);
  border: var(--border-thin);
  background-color: var(--surface-primary);
  color: var(--text-primary);
  @include subtle-shadow;

  width: $size;
  height: $size;
  @include x-margin($button-margin-calc);
  box-sizing: border-box;
  transition: background 0.2s;
  font-size: 1.65rem;

  &:focus-visible {
    outline: 1px solid blue;
  }

  &:hover:not(:disabled, .active-toggle) {
    background-color: var(--interactive-button-hover);
    color: var(--surface-primary);
    @include subtle-shadow(0.7);
  }

  &:active:not(:disabled) {
    background-color: var(--interactive-button-active);
    color: var(--surface-primary);
    @include subtle-shadow(0.7, inset);
  }
}
