@use 'variables' as *;
@use 'mixins' as *;


#container {
    margin-right: 15px;
    gap: 4px;
    width: $max-width;
    grid-template-areas:
    "one two";
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;


    #commentBox {
        grid-area: one;
        padding: 0px;
        font-family: $font-family-comments;
        width: calc($max-width - $board-size - 30px);
        box-shadow: $shadow-main;
        background: $color-bg-primary;
        color: $color-text-primary;
        border-radius: $border-radius-main;
        max-height: calc($board-size + 14px);
        margin-top: 1px;
        overflow: scroll;
        box-sizing: border-box;

        #userTextContainer {
            @include flex-center;
            width: 100%;
            background: $color-bg-secondary;
            color: $color-text-primary;
            border-bottom: $border-main-thin;

            #textField {
                padding: 0.5em;
            }
        }

        #buttons-container {
            @include flex-center;
            border-bottom: $border-main-thin;
            background: $color-bg-secondary;
            position: sticky;
            top: 0; /* Sticks to the top of the container when you scroll */
            z-index: 25;
            padding: 4px;
        }

        #pgnComment {
            font-size: 1.2em;
            background: $color-bg-primary;
            display: grid;
            grid-template-columns: auto 1fr 1fr; /* 3-column layout */
            border-bottom: $border-main-thin;
        }

    }

    #board-container {
        grid-area: two;
        max-width: 600px;
    }
}

@media (orientation: portrait) {
    #container {
        margin-right: 0px;
        grid-template-areas:
        "two"
        "one";
        grid-template-columns: auto;
    }
    #commentBox {
        width: calc($board-size + 12px);
        height: calc(100vh - $board-size - 34px);
        margin-left: 1px;
    }

}
