@use "variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin board-square-size {
  height: calc($board-size * 0.125);
  width: calc($board-size * 0.125);
}
