/* Static SCSS Variables */
$font-family-comments: serif;
$max-width: min(100vw, 1000px);

/* Dark Theme Palette */
$color-bg-primary: #242424;
$color-bg-secondary: #2c2c2c;
$color-text-primary: #d7dee9;
$color-text-muted: #797979;

/* Board Variables */
$color-correct: limegreen;
$color-incorrect: #b31010;
$color-perfect: #d4af37;
$board-border-width: 8px;
/*have to account for 6px border*/
$board-size: min(
  max(calc(98vh - 12px), 300px),
  max(calc(98vw - 12px), 200px),
  600px
);

/* Interaction Palette */
$color-interactive-active: #557d38;
$color-interactive-toggle: #a5d6a7;
$color-interactive-hover-bg: #d6d6d6;
$color-interactive-hover-text: #333;
$color-bg-hover: #404040;

/* Borders */
$border-main-thin: 1px solid black;
$border-radius-main: 4px;

/* shadows */
$shadow-main: 0px 0px 3px 0px black;
$shadow-strong: 0px 0px 3px 1px black;
$shadow-board: 0px 0px 3px 0px grey;
